.jumbotron h1{
  text-align: center;
  color: white;
  font-size: 30px;
}

.jumbotron{
  background-color: #145301;
  width: 100%;
  height: 300px;
}

.jumbotron h2, h3{
  color: white;
  font-size: 20px;
}